
  <p><a href="/teachers/<%=current_user.id%>">Go to my dashboard</a></p>


<div class="newWorm">
<h2>Update your presentation</h2>
<br>
<br>

<form action="/presentations/<%= @p1.id %>" method="post" enctype="multipart/form-data">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="put">

  <label for="">Description</label>
  <input type="text" name="description" value="<%= @p1.description %>">

  <label for="">What sentiment do you want to track?</label>
  <input type="text" name="metric" value="<%= @p1.metric %>">
  <br>
  <br>
<br>
<br>

  <label for="">Date for presentation</label>
  <input type="date" name="date" value="<%= @p1.date.strftime('%Y-%m-%d') %>">

  <label for="">start time</label>
  <input type="time" name="start_time" value="<%= @p1.start_time.strftime("%H:%m") %>">

  <label for="">end time</label>
  <input type="time" name="end_time" value="<%= @p1.end_time.strftime("%H:%m") %>">
   
<br>
<br>
  <button>create</button>
</form>
</div>