<h2><%= @presentation.description %></h2>

<p>
  <%= @presentation.metric %>
</p>
<p>
  <%= @presentation.date %>
  <%= @presentation.start_time %>
  <%= @presentation.end_time %>
</p>

<!-- <form action="/session" method="post">

   <label for="">Session Title</label>
   <input type="text" name="sessiontitle" placeholder="code">
   <br>
   <br>

   <label for="">Session Time</label>
   <input type="text" name="sessiontime" placeholder="code">
   <br>
    <br>

   <label for="">Session Code</label>
   <input type="text" name="sessioncode" placeholder="code">
   <br>
   <br>

   <button>Start</button>
</form>
 -->
<br>

<img src="http://via.placeholder.com/400x250">
