<% if logged_in? %>
  <!-- log out button -->
  <form action="/session" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <button>logout</button>
  </form>
  <h2>Logged in as: <%= current_user.username %></h2>
  <p><a href="/teachers/<%=current_user.id%>">Go to my dashboard</a></p>
<% end %>


<h2>Presentation: <%= @presentation.description %></h2>

<p>
  Please rate your score about: <%= @presentation.metric %>
</p>
<p>
  Use this code to share with your students: <%= @presentation.uuid %>
</p>

<p>
  Presentation date: <%= @presentation.date %>
</p>
<p>
  Start time: <%= @start_time %>
</p>
<p>
  End time: <%= @end_time %>
</p>

<form action="/presentations/<%=@presentation.id%>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
  <button>Delete</button>
</form>

<a href="/presentations/<%=@presentation.id%>/edit">Update</a>


<canvas id="chart_test" height="400px" width="1000px"></canvas>

<script>

  // setInterval (function(){
  //   location.reload();
  // }, 10000);
</script>
