<% if logged_in? %>
  <!-- log out button -->
  <form action="/session" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <button>logout</button>
  </form>
  <h2>Logged in as: <%= current_user.username %></h2>
  <p><a href="teachers/<%=current_user.id%>">Go to my dashboard</a></p>
<% end %>


<h2><%= @presentation.description %></h2>

<p>
  <%= @presentation.metric %>
</p>
<p>
  <%= @presentation.date %>
  <%= @presentation.start_time %>
  <%= @presentation.end_time %>
</p>

<!-- <form action="/session" method="post">

   <label for="">Session Title</label>
   <input type="text" name="sessiontitle" placeholder="code">
   <br>
   <br>

   <label for="">Session Time</label>
   <input type="text" name="sessiontime" placeholder="code">
   <br>
    <br>

   <label for="">Session Code</label>
   <input type="text" name="sessioncode" placeholder="code">
   <br>
   <br>

   <button>Start</button>
</form>
 -->
<br>

<canvas id="chart_test" height="400px" width="600px"></canvas>
