<div class="dashboardbuttonShowPage">
<p><a href="/teachers/<%=current_user.id%>">Go to my dashboard</a></p>
</div>

<div class="descriptionOfShow">
<h2><span>Presentation:</span><br> <%= @presentation.description %></h2>

<h2>
  <span>Use this code to share with your students: </span><br><%= @presentation.uuid %>
</h2>

<h2>
  <span>Presentation date:</span><br> <%= @presentation.date.strftime('%d-%m-%Y') %>
</h2>
<h2>
  <span>Start time:</span> <br><%= @start_time %>
</h2>
<h2>
  <span>End time:</span><br> <%= @end_time %>
</h2>



<h2>See Graph Below: </h2>
<br>
<br>
<br>



<a href="/presentations/<%=@presentation.id%>/edit">Edit</a>

<div class="deleteButton">
<form action="/presentations/<%=@presentation.id%>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
  <button>Delete</button>
  </div>
</form>
<br>

<h2><span>Graph showing: </span> <br><%= @presentation.metric %></h2>



</div>

<div class="chartShow">
<canvas id="chart_test" height="400px" width="1000px"></canvas>
</div>





<script>

  // setInterval (function(){
  //   location.reload();
  // }, 10000);
</script>
