<% if logged_in? %>
  <!-- log out button -->
  <form action="/session" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <button>logout</button>
  </form>
  <h2>Logged in as: <%= current_user.username %></h2>
  <p><a href="teachers/<%=current_user.id%>">Go to my dashboard</a></p>
<% end %>


<h1>Votes Page</h1>
<h2><%= @presentation.description %></h2>

<h4>Session Title</h4>
<h4>Session Time</h4>
<h4>Session Code</h4>

<p>note: the show page doesn't display properly due to the refresh every time you vote</p>
<!-- <canvas id="chart_test" height="400px" width="600px"></canvas> -->


 <h4>SILDER BUTTON</h4>

 <div class="slidecontainer">
  <form action="/votes" method="post" enctype="multipart/form-data">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

    <input type="hidden" name="presentation_id" value="<%= @presentation.id %>">
    <input type="range" min="1" max="100" value="50" class="slider" id="myRange" name="vote_value">
    <p>Value: <span id="demo"></span></p>
    <button class="vote-button">vote</button>
  </form>
</div>

<script>

  var slider = document.getElementById("myRange");
var output = document.getElementById("demo");
output.innerHTML = slider.value; // Display the default slider value

// Update the current slider value (each time you drag the slider handle)
slider.oninput = function() {
    output.innerHTML = this.value;
}


// $(document).ready(function() {
//   document.querySelector('.vote-button').addEventListener("click", function(event){
//     console.log('voted')
//     event.preventDefault();
//   })
// })


</script>
