<% if logged_in? %>
  <!-- log out button -->
  <form action="/session" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <button>logout</button>
  </form>
  
<% end %>


<h1>Votes Page</h1>

<h4>Presentation</h4>
<h2><%= @presentation.description %></h2>
<h4>Date</h4>
<h2><%= @presentation.date %></h2>
<h4>Session Code</h4>
<h2><%= @presentation.uuid %></h2>

<!-- <canvas id="chart_test" height="400px" width="600px"></canvas> -->
<br>
<br>

 <h4>SILDER BUTTON</h4>

 <div class="slidecontainer">
  <form action="/votes" method="post" enctype="multipart/form-data">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

    <input type="hidden" name="presentation_id" value="<%= @presentation.id %>">
    <input type="hidden" name="uuid" value="<%= @presentation.uuid %>">
    <input type="range" min="1" max="100" value="50" class="slider" id="myRange" name="vote_value">
    <p>Value: <span id="demo"></span></p>
    <button class="vote-button">vote</button>
  </form>
</div>

<script>

  var slider = document.getElementById("myRange");
var output = document.getElementById("demo");
output.innerHTML = slider.value; // Display the default slider value

// Update the current slider value (each time you drag the slider handle)
slider.oninput = function() {
    output.innerHTML = this.value;
}




// $(document).ready(function() {
  // $('.vote-button').on('click', function(){
  //   console.log('voted')
  //   //button hidden for 5 seconds
  //   $('.vote-button').hide();
  //   setTimeout(function(){
  //     $('.vote-button').show();
  //   }, 5000);

  // });
// })


</script>
