<h1>Vote page for specific preso</h1>


<h2><%= @presentation.description %></h2>

<p>
  <%= @presentation.metric %>
</p>
<p>
  <%= @presentation.date %>
  <%= @presentation.start_time %>
  <%= @presentation.end_time %>
</p>
