<div class="descriptionOfShow">

<div class="VotesTitle">
<h1>Votes Page</h1>
</div>

<h4><span>Presentation</span> <br> <%= @presentation.description %></h2>
<h2><span>Date </span><br> <%= @presentation.date.strftime('%d-%m-%Y') %></h2>
<h2><span>Session Code </span><br><%= @presentation.uuid %></h2>
</div>

<div class="silderTitle">
 <h2>VOTING SLIDER BELOW</h2>
</div>

 <div class="slidecontainer">
  <form action="/votes" method="post" enctype="multipart/form-data">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

    <input type="hidden" name="presentation_id" value="<%= @presentation.id %>">
    <input type="hidden" name="uuid" value="<%= @presentation.uuid %>">
    <input type="range" min="1" max="100" value="50" class="slider" id="myRange" name="vote_value">
     <div class="voteButton">
    <p>Value: <span id="demo"></span></p>
   
    <button class="vote-button">Vote</button>
  </div>
  </form>
</div>

<script>

  var slider = document.getElementById("myRange");
var output = document.getElementById("demo");
output.innerHTML = slider.value; // Display the default slider value

// Update the current slider value (each time you drag the slider handle)
slider.oninput = function() {
    output.innerHTML = this.value;
}




// $(document).ready(function() {
  // $('.vote-button').on('click', function(){
  //   console.log('voted')
  //   //button hidden for 5 seconds
  //   $('.vote-button').hide();
  //   setTimeout(function(){
  //     $('.vote-button').show();
  //   }, 5000);

  // });
// })


</script>
